<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace=".mapper.EpicAccountInfoMapper">

    <resultMap id="BaseResultMap" type=".domain.EpicAccountInfo">
            <id property="epic_id" column="epic_id" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="total_game_price" column="total_game_price" jdbcType="FLOAT"/>
            <result property="total_game_library" column="total_game_library" jdbcType="INTEGER"/>
            <result property="total_game_duration" column="total_game_duration" jdbcType="FLOAT"/>
            <result property="cookie" column="cookie" jdbcType="VARCHAR"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        epic_id,nickname,avatar,
        total_game_price,total_game_library,total_game_duration,
        cookie,account,create_time,
        update_time
    </sql>
</mapper>
